.content-holder{
    
}
.new-project-con{
    margin: 4vh auto;
}
.new-project-icon{
    margin: 10px auto;
    height: 20vh;
    background-image: url("../Images/create-project.svg");
    background-size: 100%;
    background-position: center;
}
.new-project-con h4{
    color: #343a40;
}
.new-project-con p{
    font-size: 14px;
}